.guestbook-title {
  margin-top: 10px;
  font: 36px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.new-message {
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 5px 0;
  min-width: 740px;
  background: #F5F5F5;
  border: 1px solid #ceb3b3;
}

.new-message .new-message__input-form {
  width: 100%;
  padding: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.new-message .new-message__input-form .form-group {
  width: 100%;
  min-height: 25px;
  margin-bottom: 5px;
}

.new-message .new-message__input-form .form-group__textarea {
  min-height: 100px;
}

.new-message .new-message__input-form .form-group__captcha {
  min-height: 50px;
}

.new-message .new-message__input-form .input-title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100px;
  height: 25px;
  float: left;
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
}

.new-message .new-message__input-form .input-field {
  width: calc(100% - 100px);
  float: right;
  height: 25px;
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  border: 1px solid #ccc;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -3px;
}

.new-message .new-message__input-form .input-field-captcha {
  min-height: 50px;
  float: left;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: calc(50% - 185px);
}

.new-message .new-message__input-form .input-field-captcha .captcha-field {
  margin: 20px 0 0 10px;
  padding: 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
}

.new-message .new-message__input-form .textarea-field {
  width: calc(100% - 100px);
  height: 100px;
  float: right;
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  border: 1px solid #ccc;
  padding: 0 3px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-top: -3px;
}

.new-message .new-message__input-form .warning-text {
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: red;
  text-align: right;
}

.new-message .new-message__input-form .warning-text__captcha {
  margin-left: 10px;
}

.new-message .new-message__input-form .warning-border {
  border: 2px solid red;
}

.new-message .new-message__input-form .hidden-warning {
  display: none;
}

.new-message .new-message__input-form .captcha-group {
  min-height: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
  float: left;
}

.new-message .new-message__input-form .captcha-group .captcha-img {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 250px;
}

.new-message .new-message__input-form .captcha-group .captcha-img img {
  width: 100%;
}

.new-message .new-message__input-form .captcha-group .refresh-captcha-link {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font: 13px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
  display: block;
  margin: auto;
  margin-top: -5px;
  width: 250px;
  text-align: center;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.new-message .new-message__input-form .submit-button {
  width: calc(50% - 185px);
  float: right;
  height: 25px;
  font: 15px "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin: -35px 0 0 10px;
}
/*# sourceMappingURL=NewMessageFormStyles.css.map */