$font-stack: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

.message {
    width: 100%;
    background: #F5F5F5;
    margin-bottom: 5px;
    min-height: 100px;
    border: 1px solid rgb(206, 179, 179);
    min-width: 740px;
    box-sizing: border-box;
    hyphens: auto;

    .message__wrapper {
        box-sizing: border-box;

        .message__header {
            font: 13px $font-stack;
            height: initial;
            width:250px;
            float: left;
            box-sizing: border-box;
            padding: 5px;
            
            .user-name {
                font-weight: 600;
                margin-bottom: 5px;
            }
            
            .user-url {
                margin-bottom: 5px;
            }
            
            .message-date {
                font-style: italic;
                margin-bottom: 5px;
            }

            .message-edit-button {
                height: 30px;
                width: 240px;
                font-weight: 600;
                font-style: italic;
            }
        }
    
        .message__body {
            font: 13px $font-stack;
            width: calc(100% - 250px);
            margin-left: 250px;
            box-sizing: border-box;
            padding: 5px;
            
            .user-message-title {
                font-weight: 600;
                margin-bottom: 5px;   
            }
            
            .message-text {
                margin-bottom: 5px; 
            }
            
            .admin-reply-title {
                font-weight: 600; 
                margin-bottom: 5px;    
            }
        }

        .message__userdata {
            font: 13px $font-stack;
            border-top: 1px solid rgb(206, 179, 179);
            margin-top: 5px;
            
            .user-data-title {
                font-weight: 600;
                margin: 5px 0;  
            }
    
            .user-email {
                margin-bottom: 5px;
            }
    
            .user-userIP {
                margin-bottom: 5px;
            }
    
            .user-userbrowser {
                margin-bottom: 5px;
            }
    
            .user-ismessagemoderated {
                font-style: italic;
            }
        }  
    }
}